<%
var title = 'Autofilling form controls: the autocomplete attribute'
%>

<%- include('/partials/header-plain', { title }) -%>

<div class="js-target">
  <h1><%= title %></h1>

  <form method=post action="#">
    <p><label>Credit card number: <input type=text inputmode=numeric autocomplete=cc-number></label>
    <p><label>Expiry Month: <input type=numeric inputmode=numeric autocomplete=cc-exp-month></label>
    <p><label>Expiry Year: <input type=numeric inputmode=numeric autocomplete=cc-exp-year></label>
    <p><label>Name: <input type=text autocomplete=cc-name></label>
    <p><label>Type: <input type=text autocomplete=cc-type></label>
    <p><input type=submit value="Checking...">
  </form>

</div>

<%- include('/partials/footer') -%>
